USE [master]
GO
/****** Object:  Database [QuizDB1]    Script Date: 8/5/2025 1:18:47 PM ******/
CREATE DATABASE [QuizDB1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizDB1', FILENAME = N'D:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuizDB1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuizDB1_log', FILENAME = N'D:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuizDB1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizDB1]
GO
/****** Object:  Table [dbo].[HighScores]    Script Date: 8/5/2025 1:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HighScores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Score] [int] NOT NULL,
	[DateAchieved] [datetime] NOT NULL,
	[UserId] [int] NULL,
	[QuestionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 8/5/2025 1:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[OptionA] [nvarchar](255) NOT NULL,
	[OptionB] [nvarchar](255) NOT NULL,
	[OptionC] [nvarchar](255) NOT NULL,
	[OptionD] [nvarchar](255) NOT NULL,
	[CorrectOption] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/5/2025 1:18:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](100) NULL,
	[JoinDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HighScores] ADD  DEFAULT (getdate()) FOR [DateAchieved]
GO
ALTER TABLE [dbo].[HighScores]  WITH CHECK ADD  CONSTRAINT [FK_HighScores_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[HighScores] CHECK CONSTRAINT [FK_HighScores_Questions]
GO
ALTER TABLE [dbo].[HighScores]  WITH CHECK ADD  CONSTRAINT [FK_HighScores_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[HighScores] CHECK CONSTRAINT [FK_HighScores_Users]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD CHECK  (([CorrectOption]='D' OR [CorrectOption]='C' OR [CorrectOption]='B' OR [CorrectOption]='A'))
GO
USE [master]
GO
